.footer {
    margin-top: 50px;
    padding: 100px 0 50px;
    background-color: #EAEAEA;
}
.footer__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #818181;
    padding-bottom: 30px;
}
.footer__links {
    margin: 0;
}
.footer__links a{
    color: #999999;
}
.footer__lower {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__lower p{
    color: #999999;
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
}
.footer__social{
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}
/* .footer .social svg:last-of-type{
    color: #6C5FBC;
}
.footer .social a:hover{
    color: #6C5FBC;
} */

@media (max-width: 991px){
    .footer__upper{
        align-items: start;
    }
    .footer__logo{
        justify-content: left;
    }
    .footer__links ul{
        /* display: flex; */
        flex-direction: column;
        gap: 15px;
        align-items: start;
    }
    .footer__social{
        display: flex;
        justify-content: space-between;
        flex: 0.5;
    }
    .footer__lower{
        margin-top: 10px;
        text-align: center;
        justify-content: center;
    }
}