.headOfComp{
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
}
.headOfComp span{
    color: #6C5FBC;
}

::-webkit-input-placeholder{
    color: #C2C3CB;
}
input:focus::-webkit-input-placeholder{
    color: #6C5FBC;
}