.control{
    border-top: 1px solid #CBCBCB;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    padding: 100px 0;
    border-bottom: 1px solid #CBCBCB;
}
.control .left-side h3{
    font-family: Poppins;
    font-size: 50.92px;
    font-weight: 700;
    line-height: 58.2px;
    text-align: left;
    margin-top: 30px;
}
.control .left-side h3 span{
    color: #6C5FBC;
}
.control .left-side .dashboards .card{
    width: 345.17px;
    height: 88.3px;
}
.control .dashboards .dashboard {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: white;
    width: 345.17px;
    position: relative;
    border-radius: 12px;
    box-shadow: 0px 20.07px 30.1px 0px #4646461A;
    transition: 0.5s;
}
.control .dashboard:hover{
    box-shadow: 0px 20.07px 30.1px 0px rgb(0 0 0 / 20%);
    transform: translateY(-5px);
}
.dashboard div:first-of-type{
    display: flex;
    gap: 20px;
    align-items: center;
}
.dashboard span h4{
    font-family: Poppins;
    font-size: 19.06px;
    font-weight: 600;
    line-height: 26.69px;
    text-align: left;
}
.dashboard p:first-of-type{
    font-family: Poppins;
    font-size: 15.59px;
    font-weight: 600;
    line-height: 21.82px;
    text-align: left;
    color: #323142;    
}
.dashboard div p:last-of-type{
    font-family: Poppins;
    font-size: 9.84px;
    font-weight: 500;
    line-height: 13.78px;
    text-align: left;
    color: #323142;
}
.dashboard img{
    width: 73.58px;
    height: 81.12px;
    top: 219.07px;
    left: 1027.82px;
    gap: 0px;
    border-radius: 16.41px 0px 0px 0px;
    opacity: 0px;    
}
.dashboard .time{
    position: absolute;
    right: 30px;
    bottom: 15px;
    font-family: Poppins;
    font-size: 10.66px;
    font-weight: 500;
    line-height: 14.93px;
    text-align: left;
    color: #ACADB9;
}


.control .right-side {
    margin-top: 30px;
    width: 534px;
    height: 466.46px;
    border: 2px solid #EDF2F7;
    background-color: white;
    padding: 20px 30px;
    border-radius: 18px;
    box-shadow: 5.95px 71.35px 35.67px 0px #E5E5E5B2;

}
.control .right-side .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.control .right-side .head h5{
    font-family: Manrope;
    font-size: 28.27px;
    font-weight: 800;
    line-height: 38.17px;
    letter-spacing: 0.3141176700592041px;
    text-align: left;
    color: #1A202C;
    margin: 0;
}
.control .right-side .head label{
    margin-right: 5px;
    font-family: Manrope;
    font-size: 18.85px;
    font-weight: 600;
    line-height: 28.27px;
    letter-spacing: 0.6282353401184082px;
    text-align: right;
    color: #1A202C;

}
.control .right-side .head select{
    border: none;
}


.control .right-side .card{
    padding: 10px 20px;
    border: 2px solid #EDF2F7;
    border-radius: 15px;
    margin-bottom: 30px;
}
.control .right-side .card:last-child{
    margin: 0;
}
.control .right-side .card .txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.control .right-side .card .txt .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.control .card .title h4{
    font-family: Manrope;
    font-size: 18.85px;
    font-weight: 800;
    line-height: 28.27px;
    letter-spacing: 0.6282353401184082px;
    text-align: left;
    color: #1A202C;
    margin-bottom: 10px;
}
.control .card .title p{
    font-family: Manrope;
    font-size: 15.71px;
    font-weight: 500;
    line-height: 23.56px;
    letter-spacing: 0.6282353401184082px;
    text-align: left;
    color: #A0AEC0;    
}
.control .card .progress{
    width: 100%;
    height: 10px;
    border-radius: 78.53px;
    position: relative;
    margin-bottom: 10px;
}
.control .card .purple {
    background-color: #dbd7f3;
}
.control .card .purple span {
    width: 80%;
    background-color: #6C5FBC;
}
.control .card .yellow {
    background-color: #ffecc7;
}
.control .card .yellow span {
    background-color: #FBAD18;
    width: 70%;
}
.control .card .progress span{
    border-radius: 78.53px;
    height: 10px;
    position: absolute;
    left: 0;
}