.list-container{
    margin: 100px 0;
    background-color: #6155AE;
    color: white;
    height: 220px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.list-container .left-icon{
    position: relative;
    left: 0;
}
.list-container .right-icon{
    position: relative;
    right: 70px;
    /* transform: rotate(270deg); */
}
.list-container .right-icon svg{
    position: absolute;
}
.list-container .right-icon svg:first-of-type{
    right: -90px;
}
.list-container .left-icon svg{
    position: absolute;
}

.list-container .list {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 60px;
}
.list .box-num {
    width: 263.7px;
    height: 108.8px;
}
.list div .head{
    font-family: Public Sans;
    font-size: 43.2px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    margin-bottom: 10px;
}
.list div .desc{
    font-family: Inter;
    font-size: 14.4px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: center;
    width: 260px;
    color: #C5BFED;
}