.home {
    height: 100vh;
}
.info-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

/* Start Hero Text  */
.info-home .hero-text{
    width: 568px;
    margin-right: 37px;
}
.hero-text .num-use{
    align-items: center;
    display: flex;
    gap: 10px;
    width: 231px;
    justify-content: left;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%; 
    color: rgba(32, 31, 31, 0.2);
}
.hero-text h1{
    font-family: Poppins;
    font-size: 75px;
    font-weight: 600;
    line-height: 90px;
    letter-spacing: -3px;
    text-align: left;
    margin: 18px 0;
}
.hero-text h1 span{
    color: #5C4EAE;
}
.hero-text .goal{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: justified;
    color: #676767;
    width: 80%;
}
.hero-text .goal span{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: justified;    
    color: #6155AE;
}
.hero-text .btns {
    margin: 56px 0 33px 0;
    position: relative;
}
.hero-text .btns a:first-of-type{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 17.83px 26.74px;
    background-color: #6C5FBC;
    border-radius: 17.83px;
    cursor: pointer;
}
.hero-text .btns a:last-child{
    font-size: 18px;
    font-weight: 700;
    color: #6C5FBC;
    padding: 17.83px 26.74px;
    border: 1px solid #6C5FBC;
    border-radius: 17.83px;
    cursor: pointer; 
}
.hero-text .btn{
    transition: 0.5s;
}
.hero-text .btns .start:hover {
    background-color: #5343b1;
    transform: scale(1.5);
    transform: translateY(-10px);
}
.hero-text .btns .pro {
    position: relative;
    transition: 1s;
}
.hero-text .btns .pro:hover{
    color: white;
    border: none;
}
.hero-text .btns .pro::before{
    border-radius: 17.83px;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    height: 50%;
    width: 0;
    background-color: #6C5FBC;
    transition: 1s;
}
.hero-text .btns .pro:hover::before{
    width: 100%;
    height: 100%;
}
.hero-text .btns .pro::after{
    z-index: -1;
    border-radius: 17.83px;
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;
    width: 0;
    background-color: #6C5FBC;
    transition: 1s;
}
.hero-text .btns .pro:hover::after{
    height: 100%;
    width: 100%;
    color: white;
}
.review {
    display: flex;
    align-items: end;
}
.review .trust{
    width: fit-content;
    position: relative;
    margin-right: 20px;
}
.review .trust svg:first-of-type{
    position: absolute;
    left: 13px;
    top: 50%;
}
.review .trust svg:last-of-type{
    position: relative;
    top: 3px;
}
.review .txt {
    margin-left: 10px;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #334155;
    text-align: left;
}

/* End Hero Text  */




/* start Hero image  */

.main-photo{
    position: relative;
}
.hero .main-photo .main{
    position: absolute;
    right: 15px;
    top: 10px;
    width: 435px;
    height: 445px;
    opacity: 0px;
}
.hero .top-img{
    display: flex;
    z-index: 1000;
    position: absolute;
    align-items: center;
    background-color: #FFFFFF;
    width: 265px;
    height: 89.45px;
    border-radius: 17px;
    box-shadow: -9.84px 12.3px 20.51px 0px #00000026;
    Top: -50px;
    right: 0;
}
.hero .top-img>div{
    display: flex;
    gap: 20px;
    align-items: center;
}
.hero .top-img>div p:first-of-type{
    font-family: Poppins;
    font-size: 15.59px;
    font-weight: 600;
    line-height: 21.82px;
    text-align: left;
    color: #323142;    
}
.hero .top-img>div p:last-of-type{
    font-family: Poppins;
    font-size: 9.84px;
    font-weight: 500;
    line-height: 13.78px;
    text-align: left;
    color: #323142;
}

.hero .top-img img{
    width: 73.58px;
    height: 81.12px;
    top: 219.07px;
    left: 1027.82px;
    gap: 0px;
    border-radius: 16.41px 0px 0px 0px;
    opacity: 0px;    
}
.hero .top-img .time{
    position: absolute;
    right: 3px;
    bottom: -15px;
    font-family: Poppins;
    font-size: 10.66px;
    font-weight: 500;
    line-height: 14.93px;
    text-align: left;
    color: #ACADB9;
}


.hero .graph{
    width: 207.28px;
    height: 205.48px;
    box-shadow: 13.41px -16.76px 27.93px 0px #00000026;
    padding: 14px 0;
    border-radius: 17px;
    position: absolute;
    bottom: -70px;
    left: -100px;
    background-color: white;
}
.hero .time {
    display: flex;
    gap: 7px;
    justify-content: space-around;
    margin-bottom: 30px;
    padding: 0 14px;
}
.hero .time div{
    border-radius: 7px;
    font-family: Poppins;
    font-size: 6.39px;
    font-weight: 400;
    line-height: 9.13px;
    color: white;
    text-align: center;
    padding: 7px 10px;
    background-color: #6C5FBC;
}
.hero .lines{
    position: absolute;
    margin-top: 27px;
}
.hero .line-graph button{
    border: none;
    position: absolute;
    right: 22px;
    top: 87px;
    background: none;
}
.hero .line-graph button::before{
    content: '$409';
    position: absolute;
    top: -15px;
    right: -10px;
    font-family: Poppins;
    font-size: 5.55px;
    font-weight: 600;
    line-height: 8.33px;
    text-align: left;
    background-color: #6C5FBC;
    padding: 2px 4px;
    border-radius: 7px;
    color: white;
}
.hero .weekly-time{
    display: flex;
    justify-content: space-around;
    padding: 0px 14px;
    margin-top: 15px;
}
.hero .weekly-time button{
    background: none;
    border: none;
    border-radius: 16px;
    font-family: Roboto;
    font-size: 6.35px;
    font-weight: 400;
    line-height: 7.44px;
    text-align: left;
    color: #828282;
}
.hero .weekly-time button.active{
    font-weight: 700;
    color: black;
    background-color: #E7E7E7EB;
}


.hero .collapse-first{
    position: absolute;
    top: -60px;
    right: -45px;
}
.hero .collapse-two{
    position: absolute;
    bottom: -35px;
    left: -40px;
}
.hero .arrow{
    position: absolute;
    right: -50px;
    top: 50px;
}
/* End Hero image  */