.dishes{
    padding: 100px 0;
    border-top: 1px solid #CBCBCB;
    /* margin: 100px 0; */
    position: relative;
}
.dishesList{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 50px 0;
}
.dishesList img{
    width: 150px;
}
.dishes .dishesList .box{
    transition: 0.5s;
    height: fit-content;
    padding: 20px 25px;
    border-radius: 18px;
    background-color: white;
    box-shadow: 6.85px 82.18px 41.09px 0px #E5E5E5B2;
    border: 1.44px solid #F4F4F6;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.dishesList .box:hover{
    transform: translateY(-15px);
    box-shadow: 6.85px 82.18px 41.09px 0px rgb(0 0 0 / 10%);
}
.dishes .dishesList .heart{
    position: absolute;
    right: 10px;
    top: 10px;
}

.dishes .dishesList .contain{
    text-align: left;
}
.dishes .dishesList .foot{
    margin-top: 10px;
}
.dishes .type{
    font-family: Poppins;
    font-size: 9.08px;
    font-weight: 400;
    line-height: 13.63px;
    text-align: left;
    padding: 5px 7px;
    border-radius: 5px;
}
.dishes .healthy{
    color: #DAA31A;
    background-color: #F7EDD0;
}
.dishes .trending{
    color: #FB471D;
    background-color: #F7C5BA;
}
.dishes .supreme{
    color: #309D5B;
    background-color: #93ebb7;
}
.dishes .dishesList h4{
    font-family: Poppins;
    font-size: 18.34px;
    font-weight: 600;
    line-height: 29.8px;
    text-align: left;
    margin: 7px 0 0 0;
}

.dishes .dishesList .time_rate {
    display: flex;
    align-items: center;
    justify-content: left;
}
.dishes .dishesList .time_rate .min{
    color: #8E97A6;
    font-family: Manrope;
    font-size: 13.75px;
    font-weight: 400;
    line-height: 18.34px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-right: 20px;
}   
.dishes .dishesList .time_rate .rating{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    color: #8E97A6;
    align-items: center;
}
.dishes .dishesList .buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.dishes .dishesList .buy .price{
    font-family: Manrope;
    font-size: 25.94px;
    font-weight: 700;
    line-height: 40.34px;
    text-align: left;
}
.dishes .dishesList .buy .price span{
    font-family: Manrope;
    font-size: 25.94px;
    font-weight: 700;
    line-height: 40.34px;
    text-align: left;
    margin-top: 20px;
}
.dishes .dishesList .buy svg{
    padding: 10px;
    background-color: #323142;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}
.dishes .dishesList .buy svg:hover{
    background-color: black;
}

.dishes .arrow{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 45.18px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #ACADB9;
    cursor: pointer;
    transition: 0.5s;
}
.dishes .arrow:hover{
    margin-right: 20px;
}