.navbar{
    position: relative;
}
.info-nav{
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CBCBCB;
    padding-bottom: 24px;
}
.icon {
    border: 2px solid #6C5FBC;
    border-radius: 7px;
    margin-right: 30px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    padding: 5px;
    color: #6C5FBC;
    box-shadow: 3px 3px 0px #6C5FBC;
    background-color: #DBD9EE;
}

/* .fork {
    transform: rotate(45deg);
}

.knife {
    transform: rotate(-45deg);
    margin-top: -10px;
} */


.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 20px;
    font-weight: 600;
    color: #6C5FBC;
    line-height: 27px;
}
.links{
    margin: 0 100px 0 0;
}
ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    gap: 53.49px;
}
ul li {
    list-style: none;
}
ul a{
    color: black;
    transition: 0.5s;
    position: relative;
}
ul a::after{
    transition: 0.5s;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: #6C5FBC;
}
ul a:hover::after{
    width: 100%;
}
ul a:hover{
    color: #6C5FBC;
}
.enter{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 11.14px;
}
.enter a{
    cursor: pointer;
}
.login{
    font-size: 18px;
    padding: 17.83px 26.74px;
    transition: 0.5s;
}
.login:hover{
    color: #6C5FBC;
    transform: translateY(-10px);
}
.sign{
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 17.83px 26.74px;
    background-color: #6C5FBC;
    border-radius: 17.83px;
    transition: 0.5s;
}
.sign:hover{
    background-color: #5343b1;
    transform: scale(1.1);
}

.header__none:hover .links {
    display: block;
    width: 100%;
    background-color: transparent;
    left: 0;
}
.header__none .links{
    position: absolute;
}
.header__none .links ul{
    padding: 0px 45px;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    align-items: end;
}
.header__none .links ul a::after{
    background-color: transparent;
}
.header__none .links ul a:hover::after{
    background-color: transparent;
}
.header__none .links ul a{
    color: #5343b1;
    background-color: #CBCBCB;
    padding: 10px 20px;
    border-radius: 10px;
}
.header__none .links,
.header__none .enter{
    display: none;
}